<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>107912571935-eiaptckeuibmi991ih27v1c59j5ep2u7.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.107912571935-eiaptckeuibmi991ih27v1c59j5ep2u7</string>
	<key>API_KEY</key>
	<string>AIzaSyCajQF-EqfDz7W2WXQIrMfFrw-U3swzGJY</string>
	<key>GCM_SENDER_ID</key>
	<string>107912571935</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.bikes.tcbike</string>
	<key>PROJECT_ID</key>
	<string>tcbick-c1361</string>
	<key>STORAGE_BUCKET</key>
	<string>tcbick-c1361.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:107912571935:ios:db78fbff00cdfe6701392a</string>
</dict>
</plist>